*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-50: #f0fdf4;
  --green-200: #bbf7d0;
  --green-700: #008236;
  --zinc-100: #f5f4f4;
  --zinc-300: #d8d3d4;
  --zinc-400: #9f9fa9;
  --zinc-500: #71717b;
  --zinc-900: #1b1718;
}

body {
  font-family: "Arial", sans-serif;
  width: 400px;
  height: auto;
}

.btn {
  background-color: transparent;
  border: 0;

  height: 2rem;
  width: auto;

  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.empty-message {
  display: none;
  color: var(--zinc-500);
  font-size: 0.875rem;
}

.empty-message::before {
  content: "🔍";
  margin-right: 0.25rem;
}

.empty-message.visible {
  display: block;
}
