---
import FeatureCard from '../components/FeatureCard.astro'
import { features } from '../data/features'
---

<section class="features-section container">
  <div class="features-grid">
    {
      features.map((feature) => (
        <FeatureCard
          icon={feature.icon}
          title={feature.title}
          description={feature.description}
        />
      ))
    }
  </div>
</section>

<style>
  .features-section {
    margin-bottom: 6.4rem;
  }

  .features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 1.5rem;
  }
</style>
