---
import '@fontsource/inter/400.css'
import '@fontsource/inter/700.css'
import '@fontsource/inconsolata/600.css'

import Header from '../components/Header.astro'
import { appInfo } from '../utils/app-info'
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={appInfo.description} />
    <meta name="keywords" content={appInfo.keywords} />
    <title>{appInfo.title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }

  :root {
    --gray-500: #1d1d1f;
    --gray-400: #555555;
    --gray-300: #888888;
    --gray-200: #f2f2f2;
    --blue-500: #0070f3;
    --blue-600: #0062d4;
    --white: #ffffff;
  }

  body {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: var(--gray-400);
  }

  h1,
  h2,
  h3,
  strong {
    font-weight: 700;
    color: var(--gray-500);
  }

  a {
    text-decoration: none;
    display: inline-block;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .container {
    max-width: 860px;
    margin: 0 auto;
    padding: 0 1rem;
  }
</style>
