*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  width: 400px;
  height: auto;
}

.category-item,
.emoji-btn {
  background-color: transparent;
  border: 0;

  height: 2rem;
  width: auto;

  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.categories {
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  justify-items: center;
  gap: 0.5rem;

  border-bottom: 1px solid #ccc;
}

.category-item {
  opacity: 0.5;
  transition: opacity 0.2s;
}

.category-item:hover,
.category-item.active {
  opacity: 1;
}

.message {
  background-color: #f0fdf4;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #b9f8cf;

  text-align: center;
  font-size: 1rem;
  color: #008236;
}

.message.hidden {
  display: none;
}

.container {
  max-height: 320px;
  overflow-y: auto;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  justify-items: center;
  gap: 0.5rem;
}

.emoji-btn {
  transition: transform 0.2s;
}

.emoji-btn:hover {
  transform: scale(1.1);
}
